<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=location_on,schedule" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0&icon_names=forward_to_inbox" />
  <!-- <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=groups,school" /> -->
</head>

<body>
  <section class="section1">

    <div class="navbar">
      <nav>
        <ul>
          <li>Home</li>
          <li style="text-decoration: underline;color: rgb(241, 161, 13);">About Us</li>
          <li>Programs</li>
          <img src="../assets/seven kids code logo 1.png" alt="">
          <li>Events</li>
          <li>Blog</li>
          <li>Gallery</li>
          <li>Contact</li>
          <button>Register</button>
        </ul>
      </nav>
      <hr>
    </div>


    <div class="body">
      <div class="texts">
        <button id="button">Tous Sur Seven Kids Code</button>
        <h1>About Us</h1>
        <div class="buttons">
          <button>Blog</button>
          <button style="color: white;background: rgba(248, 150, 35, 1); ;margin-left: 2rem;">Programs ></button>
        </div>
      </div>
    </div>
  </section>

  <!-- Container -->

  <div class="container">
    <img src="../assets/Frame 137.png" alt="" >
    <img src="../assets/Frame 138.png" alt="">
    <img src="../assets/Frame 139.png" alt="">
  </div>

  <!-- Section Two -->

  <section class="section2">
    <div class="two">
      <div class="image">
        <img src="../assets/IMG_9484 2.png" alt="" style="width: 15rem;">
      </div>
      <div class="text">
        <button id="two">Word From The Promoter</button>
        <h3>The highest result of <br> education is tolerance</h3>
        <p>Seven Kids Code prepares children between the ages of 4 to 18<br>
          for tomorrow's tech-oriented world by giving them the foundation in <br>
          digital tools, programming as well as a gentle introduction to computer science, <br>
          electronics and robotics.
        </p>
        <button style="  background-color: rgba(94, 61, 152, 1);color: white;">See More > </button>
      </div>
    </div>
  </section>

  <!-- Section Three -->

  <section class="section3">
    <div class="three">
      <div class="info1" style="margin-right: 3rem;">
        <button id="btn">About Seven Kids Code</button>
        <h1>Our School History</h1>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
        <button style="width: 8rem;color: white;background-color: rgba(94, 61, 152, 1)">Join Our Team</button>
      </div>
      <div class="vl">
        <div class="point" style="background-color:rgb(241, 161, 13) ;"></div>
        <div class="point"></div>
        <div class="point"></div>
        <div class="point"></div>
      </div>
      <div class="info2">
        <button>2023</button>
        <h1>Our School History</h1>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
        <button>2022</button>
        <h1>Our School History</h1>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
        <button>2021</button>
        <h1>Our School History</h1>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
        <button>2020</button>
        <h1>Our School History</h1>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
      </div>
    </div>
  </section>

  <!-- Section Four -->

  <section class="section4">
    <div class="four">
      <div class="images">
        <img src="../assets/086eeea8338d5be54fad355de197cfdf.png" alt="">
      </div>
      <div class="subimages">
        <img src="../assets/IMG_9181 1.png" alt="" style="margin-bottom: 4px;">
        <img src="../assets/366606474_250536644484136_8627998489991598034_n.png" alt="">
      </div>
      <div class="four-info">
        <button id="four">About Seven Kids Code</button>
        <h3>The highest result of <br> education is tolerance</h3>
        <p>
          Seven Kids Code prepares children between the ages of 4 <br>
          to 18 for tomorrow's tech-oriented world by giving them the <br>
          foundation in digital tools, programming as well as a gentle <br>
          introduction to computer science ,electronics and robotics.
        </p>
        <button style="width: 8rem;color: white;background-color: rgba(94, 61, 152, 1)">See More > </button>
      </div>
    </div>
  </section>

  <!-- Section Five  -->
  <section class="section5">
    <div class="logos">
      <img src="../assets/Logo.png" alt="">
      <img src="../assets/Logo (1).png" alt="">
      <img src="../assets/Logo (2).png" alt="">
      <img src="../assets/Logo (3).png" alt="">
      <img src="../assets/Logo (4).png" alt="">
    </div>
  </section>

  <!-- Section Six -->

  <section class="section6">
    <div class="six">
      <button>Instructor</button>
      <h1>Our Expert Instructors</h1>
      <!-- Slider for instructors -->
    </div>
  </section>


  <!-- Section Seven -->

  <section class="section7">
    <div class="seven">
      <div class="events">
        <button style="width: 12rem;">All Incoming Events</button>
        <h1>Coming Events</h1>
        <hr
          style="width: 13rem;margin-left: 0.3rem;margin-bottom: 2.5rem;background-color: rgba(94, 61, 152, 1);height:2px;">
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span id="text">Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span id="text">23-08-23</span>
            </div>
          </div>
        </div>
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span>Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span>23-08-23</span>
            </div>
          </div>
        </div>
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span>Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span>23-08-23</span>
            </div>
          </div>
        </div>
        <button style="color: white;background-color: rgba(94, 61, 152, 1);">See All > </button>
      </div>

      <div class="news">
        <button style="width: 10rem;">News And Articles</button>
        <h1>Our Blog</h1>
        <hr
          style="width: 12rem;margin-left: 0.3rem;margin-bottom: 2.5rem;background-color: rgba(94, 61, 152, 1);height:2px;">
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span>Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span>23-08-23</span>
            </div>
          </div>
        </div>
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span>Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span>23-08-23</span>
            </div>
          </div>
        </div>
        <div class="event-info">
          <div class="image">
            <img src="../assets/78d1dacc9bc95f41c865e6dfa0c010c4.png" alt="" style="width: 8rem;">
          </div>
          <div class="contents">
            <button>Graduation</button>
            <h3>The highest result of <br> education is tolerance</h3>
            <div class="icons">
              <span class="material-symbols-outlined"> location_on </span> <span>Douala</span>
              <span class="material-symbols-outlined"> schedule </span> <span>23-08-23</span>
            </div>
          </div>
        </div>
        <button style="color: white;background-color: rgba(94, 61, 152, 1);">See All > </button>
      </div>

    </div>
  </section>

  <!-- Section Eight-->

  <section class="section8">
    <div class="eight">
      <div class="contents">
        <button>Alumni Spotlight</button>
        <h1>What Our Students Say</h1>
        <p>Sit amet massa vitae tortor condimentum lacinia quis enim praesent <br>
          elementum facilisis leo imperdiet.
        </p>
        <!-- Slider for student comments -->
      </div>
    </div>
  </section>

  <!-- Footer -->

  <section class="section9">
    <div class="image">
      <hr>
      <img src="../assets/seven kids code logo 1.png" alt="">
      <hr>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="parts">
          <h1>Quick Links</h1>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Program</li>
            <li>Events</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="parts">
          <h1>Programs</h1>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Program</li>
            <li>Events</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="parts">
          <h1>Events</h1>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Program</li>
            <li>Events</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="email">
          <span class="material-symbols-rounded" style="width: 50%;">forward_to_inbox </span>
          <h1>Subscribe To Our Newsletter</h1>
          <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit.</p>

          <div class="button">
            <p>Enter your email</p>
            <button>Submit</button>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <p>&#64;Copyright 2024 Seven Kids Code | Designed By <span style="color: rgba(248, 150, 35, 1);">Jane</span></p>
  </section>
</body>

</html>